:root {
  --primary-color: #1d1e25;
  --secondary-text-color: #C4C4C4;
  --tertiary-text-color: #979797;
  --primary-text-color: #E5E5E5;
  --accent-color: #56BC5C;
  --skill-icon-brightness: 1;
  

  transition: color 5s ease-in-out;
}

html {
  scroll-behavior: smooth;
  font-size: 1em;
  box-sizing: border-box;
}

.white-context {
  --primary-color: #dfdfdf;
  --secondary-text-color: #1d1e25;
  --tertiary-text-color: #8d8c8c;
  --primary-text-color: #575555;
  --accent-color: #3d8042;
  --skill-icon-brightness: 0;
}

.App{
  --section-width: 65vw;
  --home-width: 75vw;

  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  
  display: flex;
  flex-direction: column;
  text-align: center; 
  align-items: center;
}

p {
  color: var(--tertiary-text-color);
}

h1 {
  color: var(--accent-color);
  font-size: 10vw;

}

h2 {
  font-size: 8em;
  opacity: 0.1;
  
}

h3 {
  font-size: 2em;
  color: var(--accent-color)
}

h4 {
  font-size: 1.5em;
  line-height: 0.25em;
}

ul {
  list-style-type: none;
}

a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

a:hover {
  animation: flash 1.5s alternate infinite ease;
}

li:hover {
  animation: flash 1.5s alternate infinite ease;
}

#nav-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  min-width: 25%;
  width: 100%;
  border-bottom: 1px var(--accent-color) solid;
  align-items: center;
  z-index: 100;
}

#nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

#nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#nav li {
  padding: 0 1em 0 1em;
  color: var(--secondary-text-color)
}

.socials {
  grid-area: socials;
  min-width: 20em;
  z-index: 1;
  align-self: center;
}

.socials ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  list-style-type: none;
}

.socials li {
  padding: 1em;
  justify-self: center;
}

#home {
  display: grid;
  grid-template-columns: 5% 5% 80% 10%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: 
    "e      e  nav  lightbulb"
    "e      e  title  sidebar"
    "scrolldown blank      socials  socials"
  ;  

  height: 100vh;
  width: var(--home-width);

  align-items: center;
  padding-bottom: 20em;
  
}

.sidebar {
  display:none;
  flex-direction: column;
  background-color: var(--accent-color);
  height: 15em;
  width: 2em;
  grid-area: sidebar;
  justify-self: end;
}

.sidebar-box {
  height: 20%;
  width: 100%;
}

.arrow {
  position: fixed;
  top: 94.5vh;
  left: 10%;
  background-color: var(--accent-color);
  display: flex;
  width: 1px;
  align-self: start;
  transition: transform 1s;
  animation: float 1s alternate infinite;
}

#scroll-down {
  animation: flash 2s alternate infinite ease-in-out;
}

@keyframes flash {
  0% {
    color: var(--primary-text-color)
  }
  100% {
    color: var(--accent-color)
  }
}

@keyframes float {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: .1em;
  }
}

.arrow::before {
  content: '';
  color: rgba(255,255,255,0.1);
  display: block;
  position: relative;
  top: 100%;
  right: 0.25em;
  width: 0; 
  height: 0; 
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 1em solid var(--accent-color);
  border-radius: 0.2em;
}

#light-bulb {
  position: absolute;
  top:0;
  right: 12.75vw;
  background-color: var(--tertiary-text-color);
  grid-area: lightbulb;
  align-self: start;
  justify-self: center;
  height: 20em;
  width: 0.1em;
  animation: rotate 2s alternate infinite ease-in-out;
  transform-origin: top;
  cursor: pointer;
}


@keyframes rotate {
  0% {
    transform: rotate(-0.5deg);
  }
  100% {
    transform: rotate(0.5deg);
  }
}

#light-bulb::before {
  content: '';
  display: block;
  position: relative;
  top: 100%;
  right: 0.25em;
  width: 0.75em; 
  height: 1.25em; 
  background: var(--accent-color);
  border-radius: 1em;

  animation: rotate 1s alternate infinite ease-in-out;
}

#light-bulb::after {
  

  content: '';
      display: block;
      position: relative;
      top: 98%;
      right: 0.515em;
      width: 1.2em; 
      height: 1.2em; 
      background: var(--primary-text-color);
      border-radius: 1em;
      box-shadow: 0px 0px 50px white;
}

#light-bulb:hover {
  padding-top: 0.5em;
  transition: padding-top 0.2s ease-in-out;
}

#title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  flex-wrap: none;

  width: 100%;
  justify-self: center;
  min-width: 30em;
}

#home p {
  color: var(--secondary-text-color);
}

#title h3 {
  grid-area: title;
}

#work-wrapper {
  padding-top: 10vh;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 5% 90%;
  grid-template-areas: 
    "head head head"
    "work display info"
  ;  

  width: var(--section-width);
  height: 100vh;

  /*border: 1px red solid;*/

  justify-items: center;
  align-items: center;  
  text-align: start;
}

#work-wrapper h2 {
  /*border: 1px red solid;*/
  grid-area: head;
  align-self: center;
  opacity: 0.1;
}

#work-selector {
  display: flex;
  width: 100%;
  height: 80%;
  grid-area: work;
  flex-wrap: wrap;
  align-self: center;
  /*border: 1px red solid;*/
}

#work-selector h3 {
  grid-area: work;
  text-align: start;
}

#work-selector p {
  grid-area: work;
  font-size: 1.5em;
  opacity: 0.1;
  text-align: start;
}

#work-selector li {
  font-size: 1.5em;
  width: 100%;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  
}

#work-selector li:hover {
  padding: 2%;
  border-radius: 0.5em;
  
}

.active {
  color: var(--accent-color);
  padding: 0.5em;
  border: 1px var(--accent-color) solid;
  border-radius: 0.5em;
  box-shadow: 0px 0px 1px var(--accent-color);
  animation: activein 1s alternate
}
.active:hover {
  padding: 0.6em !important;
  
}
.active::before {
  content: '';
  display: inline-block;
  position: relative;
  top: 0.12em;
  left: -2em; 
  width: 0; 
  height: 0; 
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 1em solid var(--accent-color);
  border-radius: 0.2em;
  transform: rotate(-90deg);

  animation: point 0.2s alternate infinite;
}

@keyframes point {
  0% {
    left: -2em;
  }

  100% {
    left: -2.1em;
  }
}


#work-selector li:hover::before { 
  content: '';
  display: inline-block;
  position: relative;
  top: 100%;
  width: 0; 
  height: 0; 
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 1em solid var(--accent-color);
  border-radius: 0.2em;
  transform: rotate(-90deg);
}

#work-display {
  grid-area: display;
  justify-self: center;
  align-self: center;
  width: 80%;
  height: 80%;
  /*border: 1px red solid;*/
}

#work-display p {
  opacity: 0.25;
  font-size: 1.25em;
  line-height: 0;
  width: 120%;
  font-style: italic;
}

#work-selector p {
  opacity: 0.25;
  font-size: 1.25em;
  line-height: 0;
  width: 100%;
  font-style: italic;
}

#work-info-border {
  
}

#work-info {
  grid-area: info;
  align-self: center;
  text-align: start;
  width: 100%;
  height: 80%;

  /*border: 1px red solid;*/
  border-radius: 1em;
  
}

#work-info ul {
  padding-left: 0;
}

#work-info li p {
  font-size: 1.5em;
  padding-left: 1em;
}

#work-info p {
animation: fade-in 0.5s ease-in;
}

#work-info li:hover {
  animation: none;
}



@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#about-wrapper {
  padding-top: 10vh;
  display: grid;
  grid-template-rows: 10% 40% 60%;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
    "head head"
    "content pic"
    "skills pic"
  ;  

  height: 100vh;
  width: var(--section-width);
  /* border: 1px red solid; */
  justify-items: start; 
  text-align: start; 
}

#about-wrapper h2 {
  grid-area: head;
  justify-self: start;
  align-self: center;
  
}

#about-wrapper p {
  color: var(--tertiary-text-color);
}

#skill-wrapper {
  grid-area: skills;
  margin: 5em;
  text-align: start;
  
  width: 100%;
}

#skill-selector {
  grid-area: skills;
  justify-content: start;
  text-align: start;
  opacity: 0.5
}

#skill-display {
  grid-area: display;
  height: 10em;
  width: 10em;
  border: 0.2em var(--accent-color) solid; 
}

#skill-display img {
  height: 100%;
  width: 100%;
}

#skill-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  column-gap: 2em;
  row-gap: 2em;
  justify-content: start;
  justify-self: start;
  align-self: start;

  filter: brightness(var(--skill-icon-brightness));

  padding: 1em;
}

#skill-icons li {
  display: flex;
  height: 5em;
  width: 5em;
  justify-content: center;
}

#skill-icons li img {
  display: flex;
  height: 100%;
  width: auto;
}

#bio {
  margin: 5em 0em 0em 5em;
  grid-area: content;
  
}

#bio p {
  font-size: 1.25em;
}

#bio-pic-container p {
  /*border: 1px red solid;*/
  opacity: 0.25;
  line-height: 0;
  font-style: italic;
}

#bio-pic-container {
  display: flex;
 grid-area: pic;
 /*border: 1px red solid;*/
 justify-content: center;
 align-items: start;

}

#bio-pic {
  align-self: center;
  width: 50%;
  border: 1px var(--accent-color) solid;
  transform: rotate(45deg);
  border-radius: 1em;
  animation: float 1s alternate infinite;
}

#bio-pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1em;
  margin: 0.5em 1em -1em 0.5em;
}

#pic-border {
  position: relative;
  display: block;
  top: -95%;
  left: 5%;
  width: 100%;
  height: 100%;
  border: 1px var(--accent-color) solid;
  border-radius: 1em;
  z-index: 100;
}

#contact-wrapper {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 40% 20% 30% 10%;
  grid-template-areas: 
    "arrow head"
    "arrow cta"
    "arrow email"
    "arrow socials";

  width: var(--section-width);
  height: 100vh;

  text-align: center;
}

#contact-wrapper h2 {
  grid-area: head;
  justify-self: end;
}

#contact-wrapper h3 {
  margin: 0px;
  padding: 0px;
}

#cta {
  grid-area: cta;
  
  width: 80%;
  justify-self: center;
  text-align: start;
}

#to-top {
  justify-self: end;
}

.arrow-up {
  grid-area: arrow;
}

.link-button {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px var(--accent-color) solid;
  color: var(--accent-color);
  background-color: transparent;
  height: 4em;
  width: 15em;
  grid-area: email;
  justify-self: center;
  font-size: 1.5em;
  border-radius: 0.5em;
  animation: float 1s alternate infinite;
}

.link-button:hover {
  opacity: 0.8;
}


.link-button::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 15em;
  height: 4em;
  border: 1px var(--primary-text-color) solid;
  transform: translate3d(-0.8em, -0.8em, 0);
  z-index: -1;
  border-radius: 0.5em;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
    
  }

  html {
    font-size: .5em;
    overflow-x: hidden;
  }
  
  p {
    font-size: 1.4em;
  }

  h1 {
    font-size: 7em;
  }

  h2 {
    font-size: 4.5em;
    /*border: 1px red solid;*/
    margin: 0em;
  }
  h3 {
    /*border: 1px red solid;*/
  }

  .App{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    /*border: 1px red solid;*/
    --section-width: 100%;
    --home-width: 90%;
  }

  #home {
    width: 100%;
    padding: 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*border: 1px red solid;*/
    height: 90vh;
  }

  #scroll-down{
    align-self: end;
    justify-self: center;
    /*border: 1px red solid;*/
    width:100%;
  }

  #title {
    padding: 1em;
    display: flex;
    /*border: 1px red solid;*/
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .socials {
    display: none;
  }

  .arrow {
    display: none;
  }

  #nav-bar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    /*border: 1px red solid;*/
  }

  #nav ul {
    display:flex;
    padding: 0;
    font-size: 1.5em;
    /*border: 1px red solid;*/
  }

  #work-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*border: 1px red solid;*/
    padding: 1em;
    height: 100%;
  }

  #work-selector ul {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /*border: 1px red solid;*/
  }

  #work-selector li {
    width: 40%;
    display:flex;
    border: 1px var(--secondary-text-color) solid;
    border-radius: 0.5em;
    padding: 0.1em;
  }

  #work-selector{
    /*border: 1px red solid;*/
    height: 25%;
  }

  #work-selector p {
    /*border: 1px red solid;*/
    width: 100%;
  }

  #work-info ul {
    /*border: 1px red solid;*/


  }

  .active {
    padding: 0.01em;
  }

  #work-display {
   width: 100%;
   height: 10%; 
   display: flex;
   flex-wrap: wrap;
   justify-self: center;
   /*border: 1px red solid;*/
  }

  #work-info {
    padding: 0;
    display: flex;
    justify-self: center;
    width: 100%;
    border: none;
    /*border: 1px red solid;*/
  }

  #work-info ul{
    padding: 0;
    width:100%;
  }

  #work-info-border{
    border: none;
    height: 50%;
    /*border: 1px red solid;*/
  }

  #about-wrapper {
    margin: 0em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    /*border: 1px red solid;*/
  }

  #bio {
    margin: 0em;
    padding: 0em;
    /*border: 1px red solid;*/
  }

  #bio-text {
    margin: 0em;
  }

  #about-wrapper p {
    /*border: 1px red solid;*/
  }

  #bio-pic-container {  
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-content: center;
    padding: 5em 4em 5em 0em;
    margin: 0em;
  }

  #bio-pic {
    width: 30%;
  }

  #pic-border {
    
    justify-self: center;
  }

  #bio-pic img {
    margin: 0.5em 0.5em -1em 0.75em;
  }

  #skill-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0em;
    /*border: 1px red solid;*/
    
  }

  #skill-icons {
    
    justify-self: center;
    justify-content: center;
    /*border: 1px red solid;*/
    width: 100%;
  }

  #skill-icons img {
    justify-content: center;
  }

  #contact-wrapper {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    /*border: 1px red solid;*/
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: .5em;
  }

  .App {
  --section-width: 95vw;
  --home-width: 75vw;
  }

  .arrow {
    display: none;
  }

  h1 {
    font-size: 8em;
  }
  
  #light-bulb{
    height: 20%
  }

  #title {
    height: 90%;
  }

  #bio-pic {
    align-self: center;
  }

  #bio-pic-container {
    height: 40vh;
    padding-bottom: 1em;
  }

  #skill-wrapper{
    
    width: 100%;
    /*border: 1px red solid;*/
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: .6em;
    }

  .App {
    --section-width: 90vw;
  }

  h1 {
    font-size: 10em;
  }

  h3 {
    font-size: 1.75em;
  }

  p {
    font-size: 2em;
  }
  
  #light-bulb{
    height: 20%
  }

  #title {
    height: 90%;

  }

  .arrow {
    left: 3%;
  }
}


@media only screen and (min-width: 1440px) {
  html {
    font-size: .6em;
  }

  h2{
    font-size: 6em;
  }

  h3 {
    font-size: 2em;
  }

  

  .App{
    --section-width: 80vw;
  }

  .arrow {
    display: flex;
  }

}

@media only screen and (min-width: 2000px) {
  html {
    font-size: .75em;
  }

  h2{
    font-size: 6em;
  }

  h3 {
    font-size: 2em;
  }

  .App{
    --section-width: 80vw;
  }

  .arrow {
    display: flex;
  }

}




