.App{
  --primary-color: #1d1e25;
  --secondary-text-color: #C4C4C4;
  --tertiary-text-color: #979797;
  --primary-text-color: #E5E5E5;
  --accent-color: #56BC5C;

  --section-width: 65vw;
  --home-width: 75vw;

  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  
  display: flex;
  flex-direction: column;
  text-align: center; 
  align-items: center;
}

p {
  font-size: 1.2em;
  color: var(--tertiary-text-color);
}

h1 {
  color: var(--accent-color);
  font-size: 8em;
  margin: -0.1em;
}

h2 {
  font-size: 8em;
  opacity: 10%;
}

h3 {
  font-size: 2em;
  
}

h4 {
  font-size: 1.5em;
  line-height: 0.25em;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li:hover {
  opacity: 0.8;
}



#nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  min-width: 25em;
  font-size: 1.25em;
  width: 100vw;
  background: rgba(0,0,0,0.05);
  justify-content: center;
}

#nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
}

#nav li {
  padding: 0 1em 0 1em;
}

#socials {
  grid-area: socials;
  min-width: 20em;
  font-size: 1.5em;
  z-index: 1;
}

#socials ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  list-style-type: none;
}

#socials li {
  padding: 0.5em 1em 0.5em 1em;
}

#home {
  display: grid;
  grid-template-columns: 5% 5% 80% 10%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: 
    "e      e  nav  lightbulb"
    "e      e  title  sidebar"
    "scrolldown blank      socials  socials"
  ;  

  height: 100vh;
  width: var(--home-width);

  align-items: center;
  padding-bottom: 20em;
  
}

.sidebar {
  display:flex;
  flex-direction: column;
  background-color: var(--accent-color);
  height: 15em;
  width: 2em;
  grid-area: sidebar;
}

.sidebar-box {
  height: 20%;
  width: 100%;
}

.arrow {
  position: fixed;
  top: 0;
  left: 10%;
  background-color: var(--accent-color);
  display: flex;
  height: 50%;
  width: 0.2em;
  align-self: start;

}

.arrow::before {
  content: '';
  display: block;
  position: relative;
  top: 100%;
  right: 0.3em;
  width: 0; 
  height: 0; 
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 1em solid var(--accent-color);
  border-radius: 0.2em;
}

.arrow-right {
  transform: rotate(-90deg)
}
.arrow-left {
  transform: rotate(90deg)
}
.arrow-left {
  transform: rotate(-180deg)
}

/*
@keyframes arrow-down {
  from {height: 0%; }
  to {height: 100%; }
}*/

#light-bulb {
  background-color: var(--tertiary-text-color);
  grid-area: lightbulb;
  align-self: start;
  justify-self: center;
  height: 20em;
  width: 0.2em;
}

#light-bulb::before {
  content: '';
  display: block;
  position: relative;
  top: 100%;
  right: 0.25em;
  width: 0.75em; 
  height: 1.25em; 
  background: var(--accent-color);
  border-radius: 1em;
}

#light-bulb::after {
  content: '';
      display: block;
      position: relative;
      top: 98%;
      right: 0.515em;
      width: 1.2em; 
      height: 1.2em; 
      background: blanchedalmond;
      border-radius: 1em;
      box-shadow: 0px 0px 50px white;
}

#title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  flex-wrap: none;

  width: 80%;
  justify-self: center;
  min-width: 30em;
}

#home p {
  color: var(--secondary-text-color);
}

#title h3 {
  grid-area: title;
}

#work-wrapper {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 5% 90%;
  grid-template-areas: 
    "head head head"
    "work display info"
  ;  

  width: var(--section-width);
  height: 100vh;

  justify-items: center;
  align-items: center;  
  text-align: start;

  padding-bottom: 10em;
}

#work-wrapper h2 {
  grid-area: head;
  align-self: center;
  opacity: 0.1;
}

#work-selector {
  width: 100%;
  height: 80%;
  grid-area: work
}

#work-selector h3 {
  grid-area: work;
  text-align: start;
  
}

#work-selector p {
  grid-area: work;
  font-size: 1.5em;
  opacity: 0.1;
  text-align: start;
}

#work-selector li {
  padding-bottom: 0.5em;
  font-size: 1.5em;
  width: 100%;
  margin-bottom: 0.5em;
  
}

.active {
  color: var(--accent-color);
  padding-top: 0.5em;
  border: 1px var(--accent-color) solid;
  border-radius: 0.5em;
}

.active::before {
  content: '';
  display: inline-block;
  position: relative;
  top: 0.12em;
  left: -2em; 
  width: 0; 
  height: 0; 
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 1em solid var(--accent-color);
  border-radius: 0.2em;
  transform: rotate(-90deg);
}

/*
#work-selector li:hover::before { 
  content: '';
  display: inline-block;
  position: relative;
  top: 100%;
  width: 0; 
  height: 0; 
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 1em solid var(--accent-color);
  border-radius: 0.2em;
  transform: rotate(-90deg);
}*/

#work-display {
  grid-area: display;
  border: 0.2em var(--accent-color) solid;
  justify-self: center;
  align-self: center;
  width: 80%;
  height: 80%;
}

#work-display p {
  opacity: 0.1;
  font-size: 1.1em;
  line-height: 0;
  width: 120%;
  font-style: italic;
}

#work-display img {
  height: 100%;
}

#work-info {
  border: 1px red solid;

  grid-area: info;

  align-self: center;
  text-align: start;
  width: 90%;
  height: 80%;
}

#about-wrapper {
  display: grid;
  grid-template-rows: 10% 40% 60%;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
    "head head"
    "content pic"
    "skills pic"
  ;  

  height: 100vh;
  width: var(--section-width);
  min-width: 40em;
  /* border: 1px red solid; */
  justify-items: start; 
  text-align: start; 

  padding-bottom: 10em;

}

#about-wrapper h2 {
  grid-area: head;
  height: 100%;
  
  justify-self: start;
  align-self: center;
  
}


#about-wrapper p {
  color: var(--tertiary-text-color);
}

#skill-wrapper {
  grid-area: skills;
  margin: 5em;
  text-align: start;
  
  width: 100%;
}

#skill-selector {
  grid-area: skills;
  justify-content: start;
  text-align: start;
  opacity: 0.5
}

#skill-display {
  grid-area: display;
  height: 10em;
  width: 10em;
  border: 0.2em var(--accent-color) solid; 
}

#skill-display img {
  height: 100%;
  width: 100%;
}

#skill-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  column-gap: 2em;
  row-gap: 2em;
  justify-content: start;
  justify-self: start;
  align-self: start;
  width: 40vw;

  padding: 1em;
}

#skill-icons li {
  display: flex;
  height: 5em;
  width: 5em;
  justify-content: center;
}

#skill-icons li img {
  display: flex;
}

#bio {
  margin: 5em 0em 0em 5em;
  grid-area: content;
}

#bio-pic {
  margin-top: 20%;
  justify-self: end;
  grid-area: pic;
  border: 1px var(--accent-color) solid;
  width: 25em;
  height: 25em;
  transform: rotate(45deg);
  border-radius: 1em;
}

#bio-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-self: start;
  align-self: start;  
  border-radius: 1em;
  margin: 0.5em;
}

#pic-border {
  position: relative;
  top: -100%;
  left: 5%;
  width: 100%;
  height: 100%;
  border: 1px var(--accent-color) solid;
  border-radius: 1em;
  z-index: 100;
}

.line {
  grid-area: arrow;
  background: black;
  width: 100%;
  height: 10%;
}

#project-wrapper {
  display: grid;
  grid-template-rows: 10% 70% 20%;
  
  row-gap: 5em;

  height: 100vh;
  min-width: 40em;

  justify-items: start; 

  padding-bottom: 10em;
}

#project-wrapper {
  display: grid;
  grid-template-rows: 10% 50% 40%;
  
  row-gap: 1em;

  height: 100vh;
  min-width: 40em;
  justify-items: start;
  
}

#project-display {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  text-align: start;
  
  align-items: center; 
}

#project-display img {
  height: 100%;
  width: 100%;
}

#project-selector ul {
  display: flex;
  flex-direction: row;
}

#project-selector li {
  height: 5em;
  width: 5em;
  margin: 1em;
}

#project-display h3 {
  font-size: 3em;

}

#project-icon {
  justify-self: center;
  height: 15em;
  width: 15em;
}

#contact {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 40% 20% 20% 20%;
  grid-template-areas: 
    "arrow head"
    "arrow cta"
    "arrow email"
    "arrow socials";

  width: var(--section-width);
  height: 100vh;

  text-align: center;
}

#contact h2 {
  grid-area: head;
  justify-self: end;
}

#contact h3 {
  font-size: 5em;
  margin: 0px;
  padding: 0px;
}

#cta {
  grid-area: cta;
  width: 80%;
  justify-self: center;
  text-align: start;
}

#to-top {
  justify-self: end;
}

.arrow-up {
  grid-area: arrow;
}

.link-button {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px var(--accent-color) solid;
  color: var(--accent-color);
  background-color: transparent;
  height: 4em;
  width: 15em;
  grid-area: email;
  justify-self: center;
  font-size: 1.5em;
  border-radius: 0.5em;
}

.link-button:hover {
  opacity: 0.8;
}
  
.link-button::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 15em;
  height: 4em;
  border: 1px var(--primary-text-color) solid;
  transform: translate3d(-0.8em, -0.8em, 0);
  z-index: -1;
  border-radius: 0.5em;
}

.pop-up {
  position: fixed;
  display: inline-block;
  width: 90vw;
  height: 90vh;
  background-color: blue;
  z-index: 2;
  left: 5vw;
  top: 5vh;
}







